<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giao.stockcheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemManagementActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.giao.stockcheck.ItemManagementActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemCheckActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.giao.stockcheck.ItemCheckActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.giao.stockcheck.HistoryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemList_Add_Remove_Dialog"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.giao.stockcheck.ItemList_Add_Remove_Dialog" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
